* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    overflow: hidden;
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    background-color: rgb(122, 43, 43);
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 10px 4px -1px white;
}

.logo{
    color: rgb(226, 226,226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 25%; 
    color: rgb(85, 13, 255);
}

.nav-links li {
list-style: none;
}

.nav-links a{
    color:rgb(226, 226,226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color:rgb(226, 226,226);
    margin: 5px;
    transition: all .4s ease;
}
@media screen and (max-width: 1024px) {
   .nav-links{
       width: 50%;
    }
}

@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color:rgb(122, 43, 43);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
        cursor: pointer;
    }
}
.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.landing {
    padding-top: 3rem;
    width: 100%;
    height: 50rem;
    justify-content: center;
}
.landing-body {
    background-color:rgb(255, 255, 255);
    justify-content: center;
    display: flex;
    width: 100%;
    height: 30rem;
    padding-top: 1rem;
}
.container {
    padding: 10px 10px 0px 10px;
    display: block;
    align-content: center;

}
.me{
    top: 0rem;
    right: 0rem;
    position: relative;
    bottom: 20rem;
    float: left;
}
#maintext {
    position:relative;
    float:right;
    text-align:left;
    font-size:60px;
    z-index:1;
    font-family: 'Poppins', sans-serif;
    left: 2rem;
}
#maintext sub{
font-size: 20px;
float: right;
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

main{
    margin-left: 5rem;
}

body::-webkit-scrollbar {
    width:0.5rem;
}
body::-webkit-scrollbar-track {
    background: grey;
}
body::-webkit-scrollbar-thumb {
background: #2274a1;
}
